* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.tarjeta {
  position: relative;
  width: min(100vw, 430px);
  animation: aparecer 0.5s ease-out;
}

.tarjeta img {
  width: 100%;
  display: block;
}

/* Zonas clicables invisibles */
.zona {
  position: absolute;
  display: block;
  border-radius: 12px;
}

/* Brillo al tocar */
.zona:active {
  background: rgba(145, 255, 210, 0.25);
  box-shadow: 0 0 25px rgba(145, 255, 210, 0.8);
}

/* Ajustaremos estas coordenadas mirando la imagen */
.zona-palapa {
  left: 18%;
  top: 55%;
  width: 64%;
  height: 7%;
}

.zona-maps {
  left: 18%;
  top: 63%;
  width: 64%;
  height: 7%;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.98);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

#scanner {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: cerrarScanner 2.4s ease-in-out forwards;
}

#scanner img {
  width: 180px;
  opacity: 0;
  animation: pulsoHuella 1.6s ease-in-out forwards;
}

@keyframes pulsoHuella {
  0% {
    opacity: 0;
    transform: scale(0.75);
    filter: brightness(1);
  }

  25% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.08);
    filter: brightness(3) drop-shadow(0 0 35px #63D6A5);
  }

  80% {
    opacity: 1;
    transform: scale(1);
    filter: brightness(1.4) drop-shadow(0 0 12px #63D6A5);
  }

  100% {
    opacity: 0;
    transform: scale(1.15);
    filter: brightness(1);
  }
}

@keyframes cerrarScanner {
  0%, 65% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
